.menu__img {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  width: 100vw;
  height: 150px;

  background-image: url(../../img/airplan.png);
  background-position-y: -48%;
  background-position-x: 80%;
  opacity: 0.5;
  border-radius: 10px;
}

.menu__tile {
  margin-top: 70px;
  margin-left: 120px;
  font-size: 25px;
  font-weight: 900;
}

.flight-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.airline-info {
  display: flex;
  align-items: center;
}
.airline-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.flight-details {
  margin-right: 40px;
}
.details-btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-decoration: none;
  color: #333;
  margin-top: 5px;
}
.flight-time {
  display: flex;
  align-items: center;
  text-align: center;
}
.flight-time span {
  margin: 0 5px;
}
.flight-price {
  text-align: center;
  margin-right: 40px;
}
.flight-price a {
  text-decoration: none;
  color: #007bff;
}
.select-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.note {
  position: absolute;
  color: red;
  font-size: 0.9em;
  right: 25px;
}

.duration-container {
  text-align: center;
  color: #888;
  margin-bottom: 15px;
}
.duration {
  font-size: 1em;
  margin-bottom: 10px;
}
.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  position: relative;
}
.line {
  margin: 0;
}

.stop {
  position: absolute;
  bottom: -30px;
  left: 5px;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 5px;
  color: #333;
  border: 1px solid #ddd;
}
.layover {
  position: absolute;
  color: red;
  bottom: -27px;
  right: -15px;
}
