main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.flight_search {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field {
  padding: 2px;
}

input {
  padding: 15px;
}

.search_box__date {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
}

.start {
  cursor: pointer;
}
.end {
  cursor: pointer;
}

.place {
  width: 362px;
  cursor: pointer;
}

.flight_search__right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.swap {
  display: flex;
  justify-content: center;

  margin-top: 25px;
}

.type {
  width: 362px;
}

.search_button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  align-self: flex-end;
  margin-top: 10px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container i {
  position: absolute;
  left: 10px;
  color: #ccc;
}

.input-container input {
  padding-left: 30px;
}

.daterangepicker {
  z-index: 9999;
}

#startDayContainer .daterangepicker,
#endDayContainer .daterangepicker {
  top: 100% !important; /* Adjust this value as needed */
  left: 0 !important;
}

.daterangepicker .drp-buttons {
  display: none;
}

.daterangepicker td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.daterangepicker .active,
.daterangepicker .active:hover {
  background-color: #007bff !important;
  color: bl;
}

.complete-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
