<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/mypage/editor.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/header_foter/header.css">
    <link rel="stylesheet" href="/css/header_foter/foter.css" />
    <link href="/css/admin/admin.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<header>
    <div class="header_content">
        <h1 class="logo"><a href="/">traveler</a></h1>
        <div class="button_content">
            <th:block th:if="${session.id == 'admin'}">
                <input type="hidden" id="adminID" name="adminID" th:value="${session.id}">
                <span class="userName"><b>[[${session.name}]]</b> 님</span>
                <button class="mypage" onclick="adminPage()">관리자</button>
                <button class="logout" onclick="logout()">로그아웃</button>
            </th:block>
        </div>
    </div>

    <nav>
        <ul id="menu">
            <li><a href="/admin">회원관리</a></li>
            <li><a href="/admin/business">기업관리</a></li>
            <li><a href="/admin/items">상품관리</a></li>
            <li><a href="/admin/orders">결제관리</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <div class="body_container">
            <div class="table_container">
                <table class="table_content">
                    <tr class="table_tr">
                        <th>아이디</th>
                        <td>[[${vo.getBinID}]]
                        <th>분류</th>
                        <th:block th:if="${vo.getBinCate == '1'}">
                            <td>항공</td>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '2'}">
                            <td>숙박</td>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '3'}">
                            <td>티켓</td>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '4'}">
                            <td>패키지</td>
                        </th:block>
                    </tr>
                    <tr class="table_tr">
                        <th>이름</th>
                        <td>[[${vo.getBinName}]]</td>
                        <th>사업자등록증</th>
                        <td>[[${vo.getBinCode}]]</td>
                    </tr>
                    <tr class="table_tr">
                        <th>전화번호</th>
                        <td>[[${vo.getBinTell}]]</td>
                        <th>이메일</th>
                        <td>[[${vo.getBinEmail}]]</td>
                    </tr>
                </table>
            </div>

            <div>
                <table class="table_content">
                    <tr>
                        <th:block th:if="${vo.getBinCate == '1'}">
                            <th>항공편명</th>
                            <th>출발/도착공항</th>
                            <th>출발정보</th>
                            <th>도착정보</th>
                            <th>가격(1인 기준)</th>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '2'}">
                            <th>국가</th>
                            <th>호텔명</th>
                            <th>체크인/체크아웃</th>
                            <th>가격(1박 기준)</th>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '3'}">
                            <th>국가</th>
                            <th>카테고리</th>
                            <th>티켓명</th>
                            <th>사용일</th>
                            <th>가격</th>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '4'}">
                            <th>패키지명</th>
                            <th>최대인원</th>
                            <th>시작일</th>
                            <th>종료일</th>
                            <th>가격</th>
                        </th:block>
                    </tr>
                    <tr th:each="item : ${items}">
                        <th:block th:if="${vo.getBinCate == '1'}">
                            <td>[[${item.getAirTitle}]]</td>
                            <td>[[${item.getDepartureAirport}]]/[[${item.getArrivalAirport}]]</td>
                            <td>[[${#dates.format(item.getDepartureDateTime, 'yyyy-MM-dd HH:mm')}]]
                            <td>[[${#dates.format(item.getArrivalDateTime, 'yyyy-MM-dd HH:mm')}]]</td>
                            <td>[[${#numbers.formatInteger(item.getAirPrice, 3, 'COMMA')}]]</td>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '2'}">
                            <td>[[${item.getHotelCountry}]]</td>
                            <td>[[${item.getHotelName}]]</td>
                            <td>[[${item.getHotelTime}]]</td>
                            <td>[[${#numbers.formatInteger(item.getHotelPrice, 3, 'COMMA')}]]</td>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '3'}">
                            <td>[[${item.getTickPlace}]]</td>
                            <td>[[${item.getCategory}]]</td>
                            <td>[[${item.getTickTitle}]]</td>
                            <td>[[${#dates.format(item.getTickDate, 'yyyy-MM-dd')}]]</td>
                            <td>[[${#numbers.formatInteger(item.getTickPrice, 3, 'COMMA')}]]</td>
                        </th:block>
                        <th:block th:if="${vo.getBinCate == '4'}">
                            <th:block th:if="${#strings.length(item.getPackageTitle) > 10}">
                                <td>[[${#strings.substring(item.getPackageTitle,0,10)}]]...</td>
                            </th:block>
                            <th:block th:unless="${#strings.length(item.getPackageTitle) > 10}">
                                <td>[[${item.getPackageTitle}]]</td>
                            </th:block>
                            <td>[[${item.getPackageMax}]]</td>
                            <td>[[${#dates.format(item.getStartDateTime, 'yyyy-MM-dd')}]]</td>
                            <td>[[${#dates.format(item.getEndDateTime, 'yyyy-MM-dd')}]]</td>
                            <td>[[${#numbers.formatInteger(item.getPackagePrice, 3, 'COMMA')}]]</td>
                        </th:block>
                    </tr>
                </table>
            </div>

<!--            <div class="btn_content">-->
<!--                <input type="button" class="save_btn" id="saveBtn" name="saveBtn" onclick="save()" value="저장하기">-->
<!--            </div>-->
<!--            <div class="btn_content2">-->
<!--                <input type="button" class="back_btn" onclick="HomeBack()" value="뒤로가기">-->
<!--            </div>-->
        </div>
    </main>
</body>
</html>