<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header_foter/foter.css" />
    <link rel="stylesheet" href="/css/header_foter/header.css" />
    <link href="/css/admin/admin.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/js/admin/admin.js" defer></script>
</head>
<header>
    <div class="header_content">
        <h1 class="logo"><a href="/">traveler</a></h1>
        <div class="button_content">
            <th:block th:if="${session.id == 'admin'}">
                <input type="hidden" id="adminID" name="adminID" th:value="${session.id}">
                <span class="userName"><b>[[${session.name}]]</b> 님</span>
                <button class="mypage" onclick="adminPage()">관리자</button>
                <button class="logout" onclick="logout()">로그아웃</button>
            </th:block>
        </div>
    </div>

    <nav>
        <ul id="menu">
            <li><a href="/admin">회원관리</a></li>
            <li><a href="/admin/business">기업관리</a></li>
            <li><a href="/admin/items">상품관리</a></li>
            <li><a href="/admin/orders">결제관리</a></li>
        </ul>
    </nav>
</header>
<body>
<main>

    <div class="binCate_content">
        <input type="radio" id="airline" name="binCate" onclick="binCate(this.value)" value="airline">
        <label for="airline">항공</label>
        <input type="radio" id="hotel" name="binCate" onclick="binCate(this.value)" value="hotel">
        <label for="hotel">숙박</label>
        <input type="radio" id="tick" name="binCate" onclick="binCate(this.value)" value="tick">
        <label for="tick">티켓</label>
        <input type="radio" id="package" name="binCate" onclick="binCate(this.value)" value="package">
        <label for="package">패키지</label>
    </div>

    <form action="/admin/items" method="get" >
        <div class="search_content">
            <select name="option">
                <th:block th:if="${type == 'airline'}">
                    <option value="">전체</option>
                    <option value="">항공명</option>
                </th:block>
                <th:block th:if="${type == 'hotel'}">
                    <option value="">전체</option>
                    <option value="">숙박</option>
                </th:block>
                <th:block th:if="${type == 'tick'}">
                    <option value="">전체</option>
                    <option value="">티켓</option>
                </th:block>
                <th:block th:if="${type == 'package'}">
                    <option value="">전체</option>
                    <option value="">패키지</option>
                </th:block>
            </select>
            <input class="search_input" id="data" name="data" placeholder="검색어를 입력하세요">
            <input type="submit" class="search_btn" value="검색">
            <input type="button" class="reset_btn" onclick="reset()" value="검색초기화">
        </div>
    </form>

    <div>
        <table class="table_content">
            <tr>
                <th:block th:if="${type == 'airline'}">
                    <th>기업아이디</th>
                    <th>국가</th>
                    <th>항공편명</th>
                    <th>출발/도착공항</th>
                    <th>출발정보</th>
                    <th>도착정보</th>
                    <th>가격(1인 기준)</th>
                </th:block>
                <th:block th:if="${type == 'hotel'}">
                    <th>기업아이디</th>
                    <th>국가</th>
                    <th>호텔명</th>
                    <th>체크인/체크아웃</th>
                    <th>가격(1박 기준)</th>
                </th:block>
                <th:block th:if="${type == 'tick'}">
                    <th>기업아이디</th>
                    <th>국가</th>
                    <th>카테고리</th>
                    <th>티켓명</th>
                    <th>사용일</th>
                    <th>가격</th>
                </th:block>
                <th:block th:if="${type == 'package'}">
                    <th>기업아이디</th>
                    <th>패키지명</th>
                    <th>최대인원</th>
                    <th>시작일</th>
                    <th>종료일</th>
                    <th>가격</th>
                </th:block>
            </tr>
            <tr th:each="item : ${item}">
                <th:block th:if="${type == 'airline'}">
                    <td>[[${item.getBinId}]]</td>
                    <td>[[${item.getCityName}]]</td>
                    <td>[[${item.getAirTitle}]]</td>
                    <td>[[${item.getDepartureAirport}]]/[[${item.getArrivalAirport}]]</td>
                    <td>[[${#dates.format(item.getDepartureDateTime, 'yyyy-MM-dd HH:mm')}]]
                    <td>[[${#dates.format(item.getArrivalDateTime, 'yyyy-MM-dd HH:mm')}]]</td>
                    <td>[[${#numbers.formatInteger(item.getAirPrice, 3, 'COMMA')}]]</td>
                </th:block>
                <th:block th:if="${type == 'hotel'}">
                    <td>[[${item.getBinID}]]</td>
                    <td>[[${item.getHotelCountry}]]</td>
                    <td>[[${item.getHotelName}]]</td>
                    <td>[[${item.getHotelTime}]]</td>
                    <td>[[${#numbers.formatInteger(item.getHotelPrice, 3, 'COMMA')}]]</td>
                </th:block>
                <th:block th:if="${type == 'tick'}">
                    <td>[[${item.getBinID}]]</td>
                    <td>[[${item.getTickPlace}]]</td>
                    <td>[[${item.getCategory}]]</td>
                    <td>[[${item.getTickTitle}]]</td>
                    <td>[[${#dates.format(item.getTickDate, 'yyyy-MM-dd')}]]</td>
                    <td>[[${#numbers.formatInteger(item.getTickPrice, 3, 'COMMA')}]]</td>
                </th:block>
                <th:block th:if="${type == 'package'}">
                    <td>[[${item.getBinId}]]</td>
                    <th:block th:if="${#strings.length(item.getPackageTitle) > 10}">
                        <td>[[${#strings.substring(item.getPackageTitle,0,10)}]]...</td>
                    </th:block>
                    <th:block th:unless="${#strings.length(item.getPackageTitle) > 10}">
                        <td>[[${item.getPackageTitle}]]</td>
                    </th:block>
                    <td>[[${item.getPackageMax}]]</td>
                    <td>[[${#dates.format(item.getStartDateTime, 'yyyy-MM-dd')}]]</td>
                    <td>[[${#dates.format(item.getEndDateTime, 'yyyy-MM-dd')}]]</td>
                    <td>[[${#numbers.formatInteger(item.getPackagePrice, 3, 'COMMA')}]]</td>
                </th:block>
            </tr>
        </table>
    </div>
</main>
<div th:replace="header_foter/foter :: foter"></div>
</body>
</html>