<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header_foter/header.css" />
    <link href="/css/admin/admin.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/js/admin/admin.js" defer></script>
</head>
<header>
    <div class="header_content">
        <h1 class="logo"><a href="/">traveler</a></h1>
        <div class="button_content">
            <th:block th:if="${session.id == 'admin'}">
                <input type="hidden" id="adminID" name="adminID" th:value="${session.id}">
                <span class="userName"><b>[[${session.name}]]</b> 님</span>
                <button class="mypage" onclick="adminPage()">관리자</button>
                <button class="logout" onclick="logout()">로그아웃</button>
            </th:block>
        </div>
    </div>

    <nav>
        <ul id="menu">
            <li><a href="/admin">회원관리</a></li>
            <li><a href="/admin/business">기업관리</a></li>
            <li><a href="/admin/items">상품관리</a></li>
            <li><a href="/amin/orders">결제관리</a></li>
        </ul>
    </nav>
</header>
</html>