<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/board/boardList.css">
    <link rel="stylesheet" href="/css/header_foter/header.css">
    <link rel="stylesheet" href="/css/header_foter/foter.css"/>
    <script src="/js/board/board.js"></script>
</head>
<body>
<div th:replace="header_foter/header :: header"></div>
<main>
    <form action="/board/search" method="get">
        <div class="search-box">
            <input class="search-box-input" type="text" id="data" name="data" placeholder="여행지를 검색해보세요">
            <input type="submit" class="search-btn" value="검색">
        </div>
    </form>



    <!-- 필터링 버튼 -->
    <div class="filter-container">
        <button onclick="filterBoard(1)">패키지</button>
        <button onclick="filterBoard(0)">자유</button>
    </div>


    <table class="board_con">
        <thead>
        <tr>
            <th>종류</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="board_list" class="board_list">
        <tr th:each="board : ${board}">
            <td th:text="${board.tripType == 1 ? '패키지' : '자유여행'}"></td>
            <td><a th:href="@{/board/detail(boardNo=${board.boardNo}, page=${currentPage})}" th:text="${board.tripTitle}"></a></td>
            <td th:text="${board.userId}"></td>
            <td th:text="${#dates.format(board.tripDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.count}"></td>
        </tr>
        </tbody>
    </table>

    <div class="button-container">
        <div class="write-btn" th:if="${session.id != null}">
            <a th:href="@{/board/write}">작성하기</a>
        </div>
        <div class="write-btn" th:if="${session.id == null}">
            <button onclick="showLoginAlert()">작성하기</button>
        </div>
    </div>

    <!-- 페이지 이동 버튼 -->
    <div class="pagination">
        <a th:if="${currentPage > 1}" th:href="@{/board(page=${currentPage - 1})}">&laquo; 이전</a>
        <span th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/board(page=${pageNum})}"
               th:text="${pageNum}"
               th:class="${pageNum == currentPage ? 'active' : ''}"></a>
        </span>
        <a th:if="${currentPage < totalPages}" th:href="@{/board(page=${currentPage + 1})}">다음 &raquo;</a>
    </div>

</main>

<div th:replace="header_foter/foter :: foter"></div>


</body>
</html>
