<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>좌석 선택</title>
    <link rel="stylesheet" href="/css/seat/seat_selection.css">
</head>
<body>
<div id="seatMap">
    <div class="economy-zone">비행기 예약</div>
    <div class="seats-container">
        <!-- 좌석들이 여기에 동적으로 생성됩니다 -->
    </div>
    <div class="legend">
        <div class="legend-item">
            <div class="legend-color available"></div>
            <span>Available</span>
        </div>
        <div class="legend-item">
            <div class="legend-color unavailable"></div>
            <span>Unavailable</span>
        </div>
        <div class="legend-item">
            <div class="legend-color selected"></div>
            <span>Selected</span>
        </div>
    </div>
    <button id="reserveButton">Reserve Seat</button>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var seats = /*[[${seats}]]*/ [];
    var airlineNo = /*[[${air.airlineNo}]]*/ '';
    var userId = /*[[${userId}]]*/ '';
    /*]]>*/
</script>
<script src="/js/seat/seat_selection.js"></script>
</body>
</html>