<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
     rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../js/header_foter/header.js" defer></script>
    <link rel="stylesheet" href="../css/pack/pack.css" />
    <script src="../js/header_foter/header.js" defer></script>
    <link rel="stylesheet" href="/css/header_foter/header.css" />'
    <script src="../js/pack/pack.js" defer></script>


    <title>Document</title>
  </head>
  <div th:replace="header_foter/header :: header"></div>

  <div class="pack_content">
    <div class="search_bar">
      <select>
        <option>출발지</option>
        <option>서울</option>
        <option>인천</option>
        <option>경기</option>
        <option>부산</option>

        <input type="text" placeholder="도시/또는 단체번호/상품코드 입력" />
        <button class="search-bar__Btn"><i class="fas fa-search"></i></button>
      </select>

    </div>

    <div class="header_icons">
      <i class="fas fa-bell"> </i>
      <i class="fas fa-user"></i>
    </div>
  </div>

  <div class="search_results">
    <div class="total_count">
      총 <span class="count">199</span>건의 상품이 검색되었습니다.
    </div>
    <div class="wishlist">내찜목록 <i class="fas fa-heart"></i></div>
  </div>
  <body></body>
</html>
