<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/header_foter/header.css" />
    <link rel="stylesheet" href="/css/hotel/hotel_detail.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/hotel/hotel_detail_pay.js"></script>
    <meta charset="UTF-8">
    <title>호텔 상세</title>
</head>
<body>
<header>
    <div th:replace="~{header_foter/header :: header}"></div>
</header>
<div class="container">
    <div class="hotel-images">
        <img class="main-img" th:src="${hotel.hotelImg}" th:alt="${hotel.hotelName}">
        <div class="sub-images">
            <div class="sub-images-row">
                <img class="sub-img" th:src="${hotel.hotelImg1}" th:alt="${hotel.hotelName}">
                <img class="sub-img" th:src="${hotel.hotelImg2}" th:alt="${hotel.hotelName}">
                <img class="sub-img" th:src="${hotel.hotelImg3}" th:alt="${hotel.hotelName}">
            </div>
            <div class="sub-images-row">
                <img class="sub-img" th:src="${hotel.hotelImg4}" th:alt="${hotel.hotelName}">
                <img class="sub-img" th:src="${hotel.hotelImg5}" th:alt="${hotel.hotelName}">
                <img class="sub-img" th:src="${hotel.hotelImg6}" th:alt="${hotel.hotelName}">
            </div>
        </div>
    </div>
    <div class="hotel-info">
        <h1 th:text="${hotel.hotelName}"></h1>
        <p class="price" th:text="'₩' + ${#numbers.formatDecimal(hotel.hotelPrice, 0, 'COMMA', 0, 'POINT')}"></p>
    </div>
    <div class="description">
        <p th:text="${hotel.hotelDescription}"></p>
    </div>
    <div class="hotelfacility">
        <h3>편의 시설 / 서비스</h3>
        <p th:text="${hotel.hotelFacility}"></p>
    </div>
    <div class="sights">
        <h3>호텔 주변 명소</h3>
        <p th:text="${hotel.hotelSights}"></p>
    </div>
    <div class="selection">
        <h3>객실을 선택하세요</h3>
        <p>맞춤 숙소 검색: </p>
        <div id="facilities"></div>
    </div>
    <div id="roomsModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="rooms"></div>
        </div>
    </div>
    <div class="button-container">
        <button id="go-to-payment" th:data-hotel-no="${hotel.hotelNO}" th:data-checkin="${checkin}" th:data-checkout="${checkout}" th:data-guest-count="${guestCount}">결제 페이지로 이동하기</button>
    </div>
</div>
</body>
</html>