<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../../../../../trip/css/hotel/hotel.css" />
    <link rel="stylesheet" href="../../../../../../trip/css/header.css" />
    <script src="../js/hotel.js" defer></script>
  </head>
  <header>
    <div class="header_content">
      <h1>traveler</h1>
      <div class="header_content__cart">
        <span>장바구니<i class="fa-solid fa-cart-shopping"></i></span>
        <span></span>
      </div>
      <button class="login">로그인/회원가입</button>
    </div>
  </header>
  <nav>
    <ul id="menu">
      <li>국가별</li>
      <li>항공</li>
      <li>숙박</li>
      <li>티켓</li>
      <li>패키지</li>
      <li class="fre">자유게시판</li>
    </ul>
  </nav>

  <body>
    <div class="booking-container">
      <input type="text" placeholder="어디로 떠나시나요?" class="destination-input">
      
      <button class="checkin-btn" style="margin-left: 10px;">체크인</button>
      <button class="checkout-btn" style="margin-left: 2px;">체크아웃</button>
      
      <div class="guest-selector">
          <button class="guest-btn" style="margin-left: 10px;">성인 2명</button>
      </div>
      
      <button class="search-btn" style="margin-left: 2px;">검색하기</button>
  </div>
    </div>
  </body>
</html>
