<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="../css/header_foter/header.css" />
  <link rel="stylesheet" href="../css/hotel/hotel_main_first.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>
  <script src="../js/hotel/hotel.js" defer></script>
  <meta charset="UTF-8">

  <title>호텔 검색</title>
</head>
<body>
<header>
  <div th:replace="~{header_foter/header :: header}"></div>
</header>
<div class="search_container">
  <input type="text" id="destination" placeholder="어디로 떠나시나요?">
  <input type="text" id="checkin" placeholder="체크인">
  <input type="text" id="checkout" placeholder="체크아웃">
  <select id="guestCount">
    <option value="1">1명</option>
    <option value="2" selected>2명</option>
    <option value="3">3명</option>
    <option value="4">4명</option>
  </select>
  <button class="search_button">검색하기</button>
</div>

<div class="hotel_list">
  <div th:each="hotel : ${hotels}" class="hotel_item">
    <img th:src="${hotel.hotelImg}" th:alt="${hotel.hotelName}">
    <div class="hotel_info">
      <h2 th:text="${hotel.hotelName}"></h2>
      <p th:text="${hotel.hotelplace}"></p>
      <p th:text="${hotel.hotelText}"></p>
      <div class="price">
        <span class="discounted_price" th:text="'₩' + ${#numbers.formatDecimal(hotel.hotelprice, 0, 'COMMA', 0, 'POINT')}"></span>
      </div>
      <div class="hotel_details">
        <p th:text="'시설: ' + ${hotel.hotelFacility}"></p>
        <p th:text="${hotel.hotelTime}"></p>
        <p th:text="${hotel.hotelCheck}"></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
