<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>나라 상세 정보</title>
    <link rel="stylesheet" href="/css/header_foter/header.css">
    <link rel="stylesheet" href="/css/header_foter/foter.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="/css/main/nationDetail.css">
</head>
<body>
<div th:replace="header_foter/header :: header"></div>
<main>
    <div class="nation-detail">
        <h1 th:text="${nation.natName}"></h1>
        <p th:text="${nation.natText}"></p>
        <p>추천 방문 시기: <span th:text="${nation.natMonth}"></span></p>
        <p>항공 시간: <span th:text="${nation.natAirTime}"></span></p>
        <p>환율: <span th:text="${nation.exchange}"></span></p>
    </div>
</main>
<div th:replace="header_foter/foter :: foter"></div>
</body>
</html>
