<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>나라 추천</title>
    <link rel="stylesheet" href="/css/header_foter/header.css">
    <link rel="stylesheet" href="/css/header_foter/foter.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="/css/main/nation.css">
    <script src="/js/includeHTML.js" defer></script>
</head>
<body>
<div th:replace="header_foter/header :: header"></div>
<main>
    <form action="/search" method="get">
        <div class="bgimg" style="background-image: url('./imgs/serchimg.jpg');">
            <div class="search-box">
                <input class="search-btn-input" type="text" id="data" name="data" placeholder="여행지를 검색해보세요">
                <input class="search-btn" type="submit" value="검색">
            </div>
        </div>
    </form>
    <div class="best-container">
        <div class="best_top"><h3 class="best_text">나라 추천</h3></div>
        <div class="best-trip">
            <button type="button" class="best_btn" data-id="1" onclick="goToDetail(this)">
                <img src="/imgs/nat/일본1.jpeg" alt="도쿄">
                <h3>일본</h3>
            </button>
            <button type="button" class="best_btn" data-id="2" onclick="goToDetail(this)">
                <img src="/imgs/nat/푸꾸옥.jpeg" alt="푸꾸옥">
                <h3>베트남</h3>
            </button>
            <button type="button" class="best_btn" data-id="3" onclick="goToDetail(this)">
                <img src="/imgs/nat/타이베이.jpeg" alt="타이베이">
                <h3>대만</h3>
            </button>
            <button type="button" class="best_btn" data-id="4" onclick="goToDetail(this)">
                <img src="/imgs/nat/필리핀.jpeg" alt="오사카">
                <h3>필리핀</h3>
            </button>
        </div>
    </div>

    <div class="best-container">
        <div class="best-trip">
            <button type="button" class="best_btn" data-id="5" onclick="goToDetail(this)">
                <img src="/imgs/nat/인도네시아.jpeg" alt="도쿄">
                <h3>인도네시아</h3>
            </button>
            <button type="button" class="best_btn" data-id="6" onclick="goToDetail(this)">
                <img src="/imgs/nat/인도.jpeg" alt="푸꾸옥">
                <h3>인도</h3>
            </button>
            <button type="button" class="best_btn" data-id="7" onclick="goToDetail(this)">
                <img src="/imgs/nat/태국.jpeg" alt="타이베이">
                <h3>태국</h3>
            </button>
            <button type="button" class="best_btn" data-id="8" onclick="goToDetail(this)">
                <img src="/imgs/nat/호주.jpeg" alt="오사카">
                <h3>호주</h3>
            </button>
        </div>
    </div>

    <div class="package" >
        <div class="package_top">
            <h3 class="package_text">현재 뜨고 있는 패키지상품들</h3>
        </div>
        <div class="package_container">
            <div th:each="packages : ${packages}" >
                <button type="button" class="package_btn" th:data-package-no="${packages.packageNO}"  onclick="viewPackageDetail(this.getAttribute('data-package-no'))">
                    <img th:src="${packages.imageUrl}" th:alt="${packages.packageTitle}">
                    <h3 th:text="${packages.packageTitle}"></h3>
                </button>
            </div>
        </div>
    </div>
</main>
<div th:replace="header_foter/foter :: foter"></div>

<script>
    function goToDetail(button) {
        const natNO = button.getAttribute('data-id');
        window.location.href = `/nation/detail/${natNO}`;
    }

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Slick JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    function viewPackageDetail(packageNO) {
      location.href = '/packages/' + packageNO;
  }
    $(document).ready(function(){
        $('.package_container').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            infinite: true,
            dots: true,
            arrows: true,
            autoplay: true,
            autoplaySpeed: 2000
        });
    });
</script>
</body>
</html>
