<!-- src/main/resources/templates/persons.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Persons</title>
</head>
<body>
<h1>com.exampl.traveler.Person List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.id}">ID</td>
        <td th:text="${person.personName}">Name</td>
        <td th:text="${person.age}">Age</td>
    </tr>
    </tbody>
</table>
</body>
</html>
