<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="../css/sign.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bin_header_content">
        <h1>traveler</h1>
        <p>buniness 전용</p>
    </div>
    <form action="">
        <div class="sign_content">
            <input type="text" name="userId" placeholder="아이디">
            <input type="password" name="userPw" placeholder="비밀번호">
            <input type="button" name="signIn" value="로그인">
            <input type="button" name="singUp" value="회원가입">
        </div>
    </form>
    <div class="idFind" onclick="#">아이디/비밀번호를 잊어버리셨나요?</div>
</body>
</html>