<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/login/sign.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/login/binSignUp.js" defer></script>
</head>
<body>
    <div class="bin_header_content">
        <h1>traveler</h1>
    </div>
    <form name="f" th:action="@{/bin/insert}" th:object="${vo}" method="post">
        <div class="sign_content">
            <div class="id_content">
                <input type="text" name="binID" id="binID" placeholder="아이디">
                <input type="button" onclick="idCheck()" value="중복확인">
                <span id="idMsg"></span>
            </div>
            <div class="content">
                <input type="password" name="binPW" id="binPW" onkeydown="pwRange()" placeholder="비밀번호 (8~12자 영문, 숫자, 특수문자 조합)">
                <span id="rangeMsg"></span>
            </div>
            <div class="content">
                <input type="password" id="checkPW" onkeydown="pwCheck()" placeholder="비밀번호 확인 (8~12자 영문, 숫자, 특수문자 조합)">
                <span id="checkMsg"></span>
            </div>
            <div class="type_content">
                <input type="radio" name="binCate" id="1" value="1" checked>
                <label for="1">항공</label>
                <input type="radio" name="binCate" id="2" value="2">
                <label for="2">숙박</label>
            </div>
            <div class="type_content">
                <input type="radio" name="binCate" id="3" value="3">
                <label for="3">티켓</label>
                <input type="radio" name="binCate" id="4" value="4">
                <label for="4">패키지</label>
            </div>
            <div class="content">
                <input type="text" name="binName" id="binName" placeholder="상호명">
                <span id="nameMsg"></span>
            </div>
            <div class="id_content">
                <input type="text" name="binCode" id="binCode" placeholder="사업자등록번호">
                <input type="button" onclick="codeCheck()" value="중복확인">
                <span id="codeMsg"></span>
            </div>
            <div class="content">
                <input type="text" name="binTell" id="binTell" placeholder="전화번호">
                <span id="tellMsg"></span>
            </div>
            <div class="content">
                <input type="text" name="binEmail" id="binEmail" placeholder="이메일">
                <span id="emailMsg"></span>
            </div>
            <div class="content">
                <input type="button" id="singUp" onclick="save()" value="회원가입">
            </div>
        </div>
    </form>
</body>
</html>