<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/login/sign.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="header_content">
        <h1>traveler</h1>
    </div>
    <form action="">
        <div class="sign_content">
            <input type="text" name="userId" placeholder="아이디">
            <input type="password" name="userPw" placeholder="비밀번호">
            <input type="button" name="signIn" value="로그인">
            <input type="button" name="singUp" value="회원가입">
        </div>
    </form>
    <div class="idFind" onclick="#">아이디/비밀번호를 잊어버리셨나요?</div>
    <div class="binSing" onclick="#">비즈니스 로그인/회원가입</div>
</body>
</html>