main{
    padding-top:141px; /* header와 nav의 높이에 따라 조정 */
    padding-bottom: 50px;
    height: 100%;
}

.table_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table_content{
    width: 80%;
    border: 1px solid #AEAEAE;
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table_content tr{
    border: 1px solid #ddd;
    height: 50px;
    position: relative;
}

.table_content tr th {
    border: 1px solid #ddd;
    font-size: 15px;
}

.table_content tr td input{
    width: 97%;
    height: 30px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.save_btn{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #1273E4;
    cursor: pointer;
    margin: 30px 0 0 0;
}

.back_btn{
    height: 40px;
    width: 200px;
    border: 1px solid #1273E4;
    border-radius: 5px;
    color: #1273E4;
    background-color: #fff;
    cursor: pointer;
    margin: 5px 0 50px 0;
}