main {
    padding-top:141px; /* header와 nav의 높이에 따라 조정 */
    padding-bottom: 50px;
    height: 100%;

  }
body, html {
    height: 300vh;
    margin: 0;
    background : rgba(240,240,243,1);

}
.city_btn_con{
    display: flex;

}
.image_con{
    margin-top: 20px;
    margin-bottom : 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.image_con img{
    border-radius : 20px;
    width: 280px;
    height : 150px;
}
.city_btn{
    margin-left : 30px;
    width : 100px;
    height : 50px;
    background: inherit;
    border : 1px solid #0000003d;
    border-radius : 20px;
    cursor: pointer;
}
.city_btn:hover{
    background-color: #3b75ff;
    color : white;
}


.nation_detail_con{
    background : white;
    border : 1px solid #0000001a;
    border-radius: 10px;
    width : 950px;
    height: auto;
    position: absolute;
    top:850px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nation_detail_con h1{
    margin-left : 10px;

}
.nat_text{
   margin-left : 10px;


}

.country_information{
    display : flex;
    margin-left : 10px;
    gap: 30px;

}
/*추천월*/
.icon_mon{

    background-image: url(/imgs/icon.png);
    background-size: 415px auto;
    background-position: -250px -296px;
    width: 17px;
    height: 18px;

}
.nat_month_con{
    width: 300px;
    height: auto;

    background : rgba(246,247,247,1);
    border-radius: 12px;

}
.nat_month{
    margin-left : 30px
}
.nat_month span{
    font-weight : bold;
    font-size : 24px;
}
.nat_month p{
    margin-left : 20px;
    height : 10px;
    width: 50px;
    font-weight : bold;

}
/* 비행 시간*/

.icon_airtime{

    background-image: url(/imgs/icon.png);
       background-size: 415px auto;
       background-position: -240px -189px;
       width: 18px;
       height: 17px;
}
.nat_airtime_con{
    width: 250px;
    height: auto;

    background : rgba(246,247,247,1);
    border-radius: 12px;

}
.nat_airtime{
    margin-left : 30px
}
.nat_airtime span{
    font-weight : bold;
    font-size : 24px;
}
.nat_airtime p{
    margin-left : 30px;
    height : 15px;
    width: 50px;
    font-weight : bold;

}
/* 환율*/

.icon_exchange{
    background-image: url(/imgs/icon.png);
    background-size: 415px auto;
    background-position: -134px -52px;
    width: 13px;
    height: 17px;
}
.nat_exchange_con{
    width: 200px;
    height: auto;

    background : rgba(246,247,247,1);
    border-radius: 12px;

}
.nat_exchange{
    margin-left : 30px
}
.nat_exchange span{
    font-weight : bold;
    font-size : 24px;
}
.nat_exchange p{
    margin-left : 30px;
    height : 15px;
    width: 50px;
    font-weight : bold;

}

/* 게시판 */
.community_text{

    font-weight:bolder;



}
.coummunity_top{
    display: flex;
    margin-top: 100px;
    padding-left: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.community_detail_btn{
    background-color: #007bff;
    width: 150px;
    height: 50px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight:bolder;
    border-radius: 10px;
    transition: all 0.3s;


}
.community_detail_btn a{
    text-decoration: none;
    color: white;



}
.community_detail_btn:hover{
    background-color: lightskyblue;


}

.coummunity_title{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.coummunity_title button{
    width: 100%;
    text-align: left;
    font-weight:bolder;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid  lightslategray;
    cursor: pointer;
    transition: all 0.3s;
}
.coummunity_title button a{
  margin-left: 40px;
  text-decoration : none;
  color : black;
}}
.coummunity_title button:hover{
    background-color: #5050FF;
    color: #fff;
    font-weight:bolder;
}

/*패키지   */
.package_text {
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
}
.package_top {
    margin-bottom: 50px;
}
.package_container {
    display: flex;
    width : auto;
    gap: 20px;
    justify-content: center;
}
.package_btn {
    background-color: #fff;
    max-width : 320px;
    max-height : 200px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.package_btn img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.package_btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
