<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../../../trip/css/header.css" />
    <link rel="stylesheet" href="../../../../../../trip/css/airplane/airplaneGO.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <script src="../../../../../../trip/js/header.js"></script>
    <script src="../../static/js/airplaneGO.js" defer></script>
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <header>
    <div class="header_content">
      <h1>traveler</h1>
      <div class="header_content__cart">
        <span>장바구니<i class="fa-solid fa-cart-shopping"></i></span>
      </div>
      <button class="login">로그인/회원가입</button>
    </div>
  </header>
  <nav>
    <ul id="menu">
      <li>국가별</li>
      <li>항공</li>
      <li>숙박</li>
      <li>티켓</li>
      <li>패키지</li>
      <li class="fre">자유게시판</li>
    </ul>
    <div class="menu__img"></div>

    <div class="menu__tile">
      <span>가는 항공편 선택</span>
    </div>
  </nav>

  <body>
    <main></main>
  </body>
</html>
