<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/airplane/choose_return.css">
    <title>Choose Return Flight</title>

</head>
<body>
<h1>귀국 항공편 선택</h1>
<div class="flight-list">
    <div class="flight-item" th:each="air : ${returnFlights}">
        <div class="flight-info">
            <div>
                <p th:text="${air.airTitle}"></p>
                <p th:text="${air.departureAirport}"></p>
                <p th:text="${air.arrivalAirport}"></p>
                <p th:text="${air.departureTime}"></p>
                <p th:text="${air.arrivalTime}"></p>
            </div>
            <div class="price" th:text="${air.airPrice + '원'}"></div>
        </div>
        <button class="select-button" th:data-airline-id="${air.airlineID}"
                onclick="redirectToSelect(this.getAttribute('data-airline-id'))">
            항공편 선택
        </button>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    function redirectToSelect(airlineID) {
        const url = '/air/select?airlineID=' + encodeURIComponent(airlineID);
        location.href = url;
    }
</script>