.booking-container {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.destination-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkin-btn,
.checkout-btn,
.guest-btn,
.search-btn {
  padding: 10px 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.checkin-btn,
.checkout-btn {
  display: flex;
  align-items: center;
}

.search-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.guest-selector {
  position: relative;
}
