<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../../../trip/css/header.css" />
    <link rel="stylesheet" href="../../../../trip/css/ticket/ticket.css" />
    <script src="../../../../../../trip/js/header.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Document</title>
  </head>

  <header>
    <div class="header_content">
      <h1>traveler</h1>
      <div class="header_content__cart">
        <span>장바구니<i class="fa-solid fa-cart-shopping"></i></span>
        <span></span>
        <button class="login">로그인/회원가입</button>
      </div>
    </div>
  </header>
  <nav>
    <ul id="menu">
      <li>국가별</li>
      <li>항공</li>
      <li>숙박</li>
      <li>티켓</li>
      <li>패키지</li>
      <li class="fre">자유게시판</li>
    </ul>
  </nav>

  <body>
    <div class="ticket_content">
      <input
        type="text"
        placeholder="어떤 즐거움을 찾으세요?"
        class="search-input"
      />

      <button class="search_btn">검색하기</button>
    </div>

    <div class="categories">
      <div class="category">
        <span class="icon">🎢</span>
        <span class="label">테마파크</span>
      </div>
      <div class="category">
        <span class="icon">🏊‍♂️</span>
        <span class="label">워터파크</span>
      </div>
      <div class="category">
        <span class="icon">🏛️</span>
        <span class="label">박물관 & 미술관</span>
      </div>
      <div class="category">
        <span class="icon">🌳</span>
        <span class="label">공원 & 자연</span>
      </div>
      <div class="category">
        <span class="icon">🐠</span>
        <span class="label">아쿠아리움 & 동물원 & 농장</span>
      </div>
      <div class="category">
        <span class="icon">🚡</span>
        <span class="label">케이블카</span>
      </div>
      <div class="category">
        <span class="icon">🗼</span>
        <span class="label">전망대</span>
      </div>
    </div>
  </body>
</html>
