<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exampl.traveler.mapper.AirMapper">
    <select id="findOutboundAirs" resultType="com.exampl.traveler.vo.AirVO">
        SELECT * FROM airline
        WHERE departureAirport = #{departure}
        AND arrivalAirport = #{destination}
        AND DATE(departureDate) = #{departureDate}
    </select>

    <select id="findReturnAirs" resultType="com.exampl.traveler.vo.AirVO">
        SELECT * FROM airline
        WHERE departureAirport = #{destination}
        AND arrivalAirport = #{departure}
        AND DATE(departureDate) = #{returnDate}
    </select>

    <select id="findOneWayAirs" resultType="com.exampl.traveler.vo.AirVO">
        SELECT * FROM airline
        WHERE departureAirport = #{departure}
        AND arrivalAirport = #{destination}
        AND DATE(departureDate) = #{departureDate}
    </select>
</mapper>
