<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampl.traveler.mapper.HotelMapper">

    <select id="getAllHotels" resultType="com.exampl.traveler.vo.HotelVO">
        SELECT * FROM hotel
    </select>

    <select id="getHotelsByPlace" resultType="com.exampl.traveler.vo.HotelVO">
        SELECT * FROM hotel WHERE hotelCountry = #{country}
    </select>

    <select id="getHotelById" resultType="com.exampl.traveler.vo.HotelVO">
        SELECT * FROM hotel WHERE hotelNO = #{hotelNO}
    </select>

    <insert id="insertOrder" parameterType="com.exampl.traveler.vo.UserOrderVO" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders (userID, comNO, binCate, totalCnt, orderDate, useDate)
        VALUES (#{userId}, #{comNO}, #{binCate}, #{totalCnt}, NOW(), #{useDate})
    </insert>

    <insert id="insertDiary" parameterType="map">
        INSERT INTO DIARY (userID, ORDERID, GODAY, BACKDAY, DIARYTITLE)
        VALUES (#{userId}, #{orderID}, #{goday}, #{backday}, #{diaryTitle})
    </insert>

    <insert id="insertRoom" parameterType="com.exampl.traveler.vo.RoomtypeVO">
        INSERT INTO rooms (hotelNO, roomName, roomImg, roomFacility, roomMax)
        VALUES (#{hotelNO}, #{roomName}, #{roomImg}, #{roomFacility}, #{roomMax})
    </insert>

    <select id="selectFacilitiesByHotel" parameterType="String" resultType="map">
        SELECT roomFacility, COUNT(*) as count
        FROM rooms
        WHERE hotelNO = #{hotelNO}
        GROUP BY roomFacility
    </select>

    <select id="selectRoomsByFacilityAndHotel" parameterType="map" resultType="com.exampl.traveler.vo.RoomtypeVO">
        SELECT * FROM rooms
        WHERE hotelNO = #{hotelNO} AND roomFacility = #{facility}
    </select>

    <select id="getAllRooms" resultType="com.exampl.traveler.vo.RoomtypeVO">
        SELECT * FROM rooms
    </select>

</mapper>